<div class="container">
    <form id="contact" [formGroup]="userForm" (ngSubmit)="createUser()">
        <h3>Add/Edit user</h3>
        <fieldset>
                <label for="username">Nom</label>
            <input type="text" tabindex="1" formControlName="nom">
        </fieldset>
        <fieldset>
                <label for="username">Prenom</label>
            <input type="text" tabindex="1" formControlName="prenom">
        </fieldset>
        <fieldset>
                <label for="username">Email</label>
            <input type="text" tabindex="1" formControlName="email">
        </fieldset>
        <fieldset>
                <label for="username">Tel</label>
            <input type="text" tabindex="1" formControlName="tel">
        </fieldset>

        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>
<div class="container">
    <form id="contact">
        <h3>List of users</h3>
        <fieldset *ngFor="let user of users; let index = index">
            <p (click)="deleteUser(index)">{{user.nom}}</p>
        </fieldset>

    </form>
</div>